
<div *ngIf="commentBlogItem">
    <h2><span jhiTranslate="blogApp.commentBlogItem.detail.title">Comment Blog Item</span> {{commentBlogItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.commentBlogItem.text">Text</span></dt>
        <dd>
            <span>{{commentBlogItem.text}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commentBlogItem.created">Created</span></dt>
        <dd>
            <span>{{commentBlogItem.created | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commentBlogItem.updated">Updated</span></dt>
        <dd>
            <span>{{commentBlogItem.updated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commentBlogItem.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'blogApp.CommentStatus.' + commentBlogItem.status}}">{{commentBlogItem.status}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.commentBlogItem.blogItem">Blog Item</span></dt>
        <dd>
            <div *ngIf="commentBlogItem.blogItemId">
                <a [routerLink]="['/blog-item', commentBlogItem.blogItemId]">{{commentBlogItem.blogItemId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="blogApp.commentBlogItem.commentBlogItem">Comment Blog Item</span></dt>
        <dd>
            <div *ngIf="commentBlogItem.commentBlogItemId">
                <a [routerLink]="['/comment-blog-item', commentBlogItem.commentBlogItemId]">{{commentBlogItem.commentBlogItemId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="blogApp.commentBlogItem.author">Author</span></dt>
        <dd>
            {{commentBlogItem.authorId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment-blog-item/'+ commentBlogItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
